@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("../public/fonts/Geist-Regular.otf");
}

@font-face {
  font-family: "GeistMono";
  src: url("../public/fonts/GeistMono-Regular.otf")
}
 
@layer base {
  :root {
    --card: 48 37% 98%;
    --ring: 48 77% 57%;
    --input: 48 4% 93%;
    --muted: 48 6% 92%;
    --accent: 48 14% 82%;
    --border: 48 4% 93%;
    --popover: 48 37% 99%;
    --primary: 48 77% 57%;
    --secondary: 48 14% 82%;
    --background: 48 37% 99%;
    --foreground: 48 52% 4%;
    --destructive: 6 80% 42%;
    --card-foreground: 48 52% 3%;
    --muted-foreground: 48 1% 28%;
    --accent-foreground: 48 14% 22%;
    --popover-foreground: 48 52% 4%;
    --primary-foreground: 48 77% 17%;
    --secondary-foreground: 48 14% 22%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 48 56% 4%;
    --ring: 48 77% 57%;
    --input: 48 4% 14%;
    --muted: 48 6% 8%;
    --accent: 48 16% 20%;
    --border: 48 4% 14%;
    --popover: 48 56% 3%;
    --primary: 48 77% 57%;
    --secondary: 48 16% 20%;
    --background: 48 56% 3%;
    --foreground: 48 24% 98%;
    --destructive: 6 80% 51%;
    --card-foreground: 48 24% 99%;
    --muted-foreground: 48 1% 72%;
    --accent-foreground: 48 16% 80%;
    --popover-foreground: 48 24% 98%;
    --primary-foreground: 48 77% 17%;
    --secondary-foreground: 48 16% 80%;
    --destructive-foreground: 0 0% 100%;
  }
}
  
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}